/* SECTION 2 - Les filtres */

// Partie filtres selectionnés
.section-tags-inputs {
    margin-top: 3%;
    .tags-filter {
        display: flex;
        flex-wrap: wrap;
    }
    .tags-inputs-three {
        margin-top: 5px;
        display: flex;
    }
    .tags-input-margin {
        margin-right: 20px;
    }
}

.tags {
    padding: 0 10px;
    margin: 0 10px 10px 0;
    background-color: $coloringredients;
    color: $colorwhite;
    @include inputag;
    p {
        margin-right: 10px;
    }
}



// Partie tags déroulés: Ingrédients - Appareils - Ustensiles 
.tag-input {
    @include inputag;
    padding: 20px 15px;
    label {
        display:none;
    }
    .text-tag {
        background-color: transparent;
        border: none;
        &[type="text"] {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: $colorwhite;
        }
        &::placeholder {
            color: $colorwhite;
        }
    }
}

.text-tag:focus {
    outline: none !important;
}


.ingredients-tab, .appliances-tab, .ustensils-tab {
    width: 450px;
    border-radius: 0 0 5px 5px;
    .tab-tag {
        padding: 0 10px;
        margin-top: -3px;
        display: flex;
        flex-wrap: wrap;
        max-height: 220px;
        max-width: 700px;
        overflow: auto;
        list-style: none;
        color: $colorwhite;
        line-height: 1.8em;
    }
    li {
        height: 30px;
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 8px;
        cursor: pointer;
    }
    li:hover {
        border-radius: 5px;
        background-color: rgba(245, 245, 245, 0.2);
    }
}

.tab-tag::-webkit-scrollbar {
    border-radius: 5px;
    padding-right: 5px;
    width: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.tab-tag::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.input-ingredients, .ingredients-tab, .tags[categorie=ingredient]  {
    background-color: $coloringredients;
}

.input-appliances, .appliances-tab, .tags[categorie=appareil]  {
    background-color: $colordevices;
}

.input-ustensils, .ustensils-tab, .tags[categorie=ustensile] {
    background-color: $colorutensils;
}

.none {
    display: none;
}