/* SECTION 3 - Grille des cartes de recette */

.section-grid-cards {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.cards-recipe {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $colorsearchinput;
    img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        height: 200px;
        overflow: hidden;
        object-position: 50% 50%;
        object-fit: cover;
    }
    .cards-recipe__infos {
        padding: 0 20px 30px 20px;

    }
}
.hide {
    display: none;
}


// Titre + temps
.recipe-title-time {
    display: flex;
    justify-content: space-between;
    .title-recipe {
        font-weight: 400;
    }
    .time-recipe {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
}

// Ingrédients + texte
.recipe-ingredients-text {
    display: flex;
    justify-content: space-between;
    .recipe-text {
        height: 80px;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
        width: 70%;
        margin: 0;
    }
}



.ingredient {
    font-family: 'Lato', sans-serif;
    margin: 0;
    .ingredient-bold {
        font-weight: 600;
    }
}
